
{% extends 'task/supplier.html' %}
{% include 'task/navbar.html'%}
{% load static %}
{% block content %}
<h3>Daily report</h3>
<h4>{{request.user}}</h4>
<table id="">
    <tr>
        <th >User ID</th>
        <th>Task ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Completion date</th>
    </tr>
    {% for i in report_query %}
    
        
    <tr>
        <td>{{ i.taskprovider.employee.id }}</td>
        <td>{{ i.taskprovider.id }}</td>
        <td>{{ i.taskprovider.title }}</td>
        <td>{{i}}</td>
        <td>{{i.completeddate}}</td>
    </tr>
    {% endfor  %}
</table>

{% endblock %}