
{% extends 'task/supplier.html' %}
{% include 'task/navbar.html'%}
{% load static %}
{% block content %}
<h3>Webjet daily report</h3>


<table id ="" class="">
    <tr>
    <th >User ID</th>
    <th>Task ID</th>
    <th >Developer Name</th>
    <th >Task title</th>
    <th>Mail subject</th>
    <th>Assigned Date</th>
    <th>Completion Date</th>
    <th>Task Status</th>
    </tr>
    {% for i in st %}
    
    <tr>
    <td>{{ i.employee.id }}</td>
    <td>{{ i.taskprovider.id }}</td>
    <td>{{i.taskprovider.employee.name}}</td>
    <td>{{ i.taskprovider.title }}</td>
    <td>{{ i.taskprovider.subject }}</td>
    <td>{{ i.taskprovider.date }}</td>
    <td>{{ i.completeddate }}</td>
    <td>{{i.status}}</td>
    
    </tr>
    
    {% endfor  %}
</table>
{% endblock %}
