
{% extends 'task/supplier.html' %}
{% include 'task/navbar.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
        <div class="card">Assigned</div>
        </div>
        <div class="column">
        <div class="card">In progress</div>
        </div>
        <div class="column">
        <div class="card">Completed</div>
        </div>
        <div class="column">
        <div class="card">Hold</div>
        </div>
    </div>
    <p>Today's Task List</p>
    <table id ="customers">
        <tr>
        <th >ID</th>
        <th >Name</th>
        <th >Process</th>
        <th >Requested from</th>
        <th >Requested by</th>
        <th >Task title</th>
        <th>Mail subject</th>
        <th>Date</th>
        <th>Update/Delete</th>
        </tr>
        {% for i in emp_task %}
        <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.employee.name }}</td>
        <td>{{i.process}}</td>
        <td>{{ i.title }}</td>
        <td>{{i.requested_from}}</td>
        <td>{{i.requested_by}}</td>
        <td>{{ i.subject }}</td>
        <td>{{ i.date }}</td>
        </tr>
        {% endfor  %}
    </table>

</div>
<style>
    #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
</style>

{% endblock %}