{% extends 'task/supplier.html' %}
{% include 'task/navbar.html'%}
{% load static %}
{% block content %}

<div class="container">
    <h2>Task for Webjet Team</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.employee.label}}
        {{form.employee}}
        {{form.title.label}}
        {{form.title}}
        {{form.subject.label}}
        {{form.subject}}
        {{form.date.label}}
        {{form.date}}
        
        <input class="btn login_btn" type="submit" value="Submit">
        
    
    </form>
    <br>
    <div class="container">
        <h2>Task List</h2>
        
        <table id ="customers">
            <tr>
            <th >ID</th>
            <th >Name</th>
            <th >Task title</th>
            <th>Mail subject</th>
            <th>Date</th>
            <th>Update/Delete</th>
            </tr>
            {% for i in task %}
            <tr>
            <td>{{ i.employee.id }}</td>
            <td>{{ i.employee.name }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.subject }}</td>
            <td>{{ i.date }}</td>
            <td>
            <a href="/update_task/{{tasks.employee.id}}/">UPDATE</a>
            <!-- <a href="/del/{{i.id}}/">DELETE</a> -->
           </td>

            </tr>
            {% endfor  %}
        </table>
        
    </div>
</div>
<style>
    #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
</style>
{% endblock %}