{% extends 'task/supplier.html' %}
{% include 'task/navbar.html'%}
{% load static %}
{% block content %}


<form action="" method="POST">
  {% csrf_token %}
  <p>Today's Task</p>
  <h5>Developer name:{{form.employee}}</h5>
  <h5>Select Priority:{{form.priority}}</h5>
  <h5>Title:{{form.title}}</h5>
  <h5>Mail subject:{{form.Subject}}</h5>
  <h5>Date:{{form.date}}</h5>
  <h5>Process:{{form.process}}</h5>
  <h5>Requested by:{{form.requested_by}}</h5>
  <h5>Requested from:{{form.requested_from}}</h5>

  </div>
  <div class="btn-block">
      <button>
          <input class="btn login_btn" type="submit" value="Submit">
      </button>
      
  </div>
</form>
    <hr>
      <h2>Task List</h2>
      <table id ="customers">
          <tr>
          <th >User ID</th>
          <th>Task ID</th>
          <th >Name</th>
          <th>Priority</th>
          <th >Process</th>
          <th >Requested from</th>
          <th >Requested by</th>
          <th >Task title</th>
          <th>Mail subject</th>
          <th>Date</th>
          <th>Update/Delete</th>
          </tr>
          {% for i in page.object_list %}
          <tr>
            
          <td>{{ i.employee.id }}</td>
          <td>{{ i.id }}</td>
          <td>{{ i.employee.name }}</td>
          <td>{{i.priority}}</td>
          <td>{{i.process}}</td>
          <td>{{ i.title }}</td>
          <td>{{i.requested_from}}</td>
          <td>{{i.requested_by}}</td>
          <td>{{ i.subject }}</td>
          <td>{{ i.date }}</td>
          <td>
          <a href="/update_task/{{i.id}}/">UPDATE</a>
          <a href="/del/{{i.id}}/">DELETE</a>
          </td>

          </tr>
          {% endfor  %}
      </table>
        <hr>
        {% if page.has_previous%}
          <a href="?page=1">&laquo First</a> 
          <a href="?page={{page.previous_page_number }}">Previous</a> 
        {% endif %}
        page number {{page.number}} of {{page.paginator.num_pages}}
        {% if page.has_next %}
          <a href="?page={{page.next_page_number }}">Next page</a>
          <a href="?page={{page.paginator.num_pages}}">Last &raquo</a>
        {% endif %}
      
{% endblock %}
